<!DOCTYPE html>
<html>
<head>
    <title ng-bind="$meta.title"></title>

    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta ng-repeat="meta in $meta.meta" name="{{meta.name}}" content="{{meta.content}}" http-equiv="{{meta.httpEquiv}}">
    <link ng-if="$meta.canonicalUrl" rel="canonical" ng-href="{{$meta.canonicalUrl}}">

    <base href="/">

    <script src="compiled/manifests.js" config></script>
    <script src="lib.js" inline></script>
    <link href="lib.css" rel="stylesheet" inline>
</head>
<body class="rendering">
    <div id="flashMessage" class="app-flashMessage ng-hide" app-flash-message></div>

    <div id="deploymentLabel" class="app-deployment ng-hide hidden-print" app-deployment-label></div>

    <div id="body" class="app-body" autoscroll="false" ui-view="body"></div>

    <app-body-preloader id="bodyPreloader" class="app-body-preloader" ng-show="$loading"></app-body-preloader>
</body>
</html>