html
body
  height 100%
  min-height 100%
  min-width 1000px

html
  overflow-y scroll

body
  font-family 'Open Sans', sans-serif

  display flex
  flex-direction column
  min-height 100%

  >*
    flex-shrink 0

#body
  display flex
  flex-direction column
  flex 1 0 auto

#main
  flex 1 0 auto
  position relative
  z-index 2//gt then footer's news list

.nav
.pagination
.carousel
.panel-title a
  cursor default //pointer

.page-header
  margin-top 20px

.btn-red
  background $red
  color white

.modal
  overflow-y auto

.modal-open
  overflow auto

.selection
  display inline-block //Выделяет блок по двойному щелчку (для копирования без пробелов)

.red-bold-underlined-link
  color $red
  text-decoration underline
  font-weight bold

.red-text
  color $red

.bold
  font-weight bold

.pseudolink
  border-bottom 1px #428bca dashed
  cursor pointer
  line-height 1.2

  &:hover
    color $blue
    border-color $blue

    border-bottom 1px #428bca dashed
    cursor pointer
    line-height 1.2

  &:hover
  &:focus
  &:active:focus
    text-decoration none
    outline none

.no-animate
  transition: none !important;