@require 'styles/icons.styl'
@require 'styles/bootstrap/customs.styl'
@require 'styles/bootstrap/grid.styl'
@require 'styles/bootstrap/form.styl'
@require 'styles/bootstrap/buttons.styl'
@require 'styles/bootstrap/tooltip.styl'
@require 'styles/bootstrap/type.styl'

.rendering .app-body
  display block