$red = #ec1f27
$yellow = #fff200
$blue = #428bca

.panel-red
  background-color $red
  color #fff
  padding 5px 10px

.panel-body
  position relative
  padding-left 25px
  padding-right @padding-left

  &_withLinks
    padding-left 30px
    padding-right @padding-left

.panel-link
  &_prev
  &_next
    display block
    position absolute
    height 100%
    top 0
    width 20px
    background rgba(#ccc, .1)
    transition background .3s
    color $red

    &:hover
      background rgba(#ccc, .2)
      color $red

  &_prev
    left 0

  &_next
    right 0

  &-ico
    app-position-absolute 0 0
    margin auto
    width 20px
    height 20px
    text-align center

.text
  &-red
    color $red

// Angular Strap datepicker styles (https://github.com/mgcrea/bootstrap-additions)
.datepicker.dropdown-menu
  width 250px
  height 270px
  button
    outline none
    border 0px

  .btn-default
    color #000

  .btn[disabled]
    opacity 0.3

  tbody
    height 180px

  tbody button
    padding 6px

  &.datepicker-mode-1
  &.datepicker-mode-2
    tbody button
      height 65px