body
  font-family 'Open Sans', sans-serif

  .nav
  .pagination
  .carousel
  .panel-title a
    cursor pointer

  .page-header
    margin-top 20px

  .btn-red
    background $red
    color white

.modal
  overflow-y auto

.modal-open
  overflow auto

.app-body
  overflow hidden

.panel-heading
  &_published
    background-color #337ab7
    color #fff

.timeLabel
  position absolute
  font-family 'Courier new'
  background rgba(200,0,10,0.8)
  padding 7px 15px 3px
  color #fff
  transform-origin 195px 200px
  transform rotate(-90deg)
  border-radius 0 0 5px 5px
  box-shadow -2px 0 7px rgba(0,0,0,0.5)
  z-index 2000