//bootstrap
// Contextual backgrounds
bg-variant($color)
  background-color $color

  a&:hover
    background-color darken($color, 10%)

// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
button-variant($color, $background, $border)
  color $color
  background-color $background
  border-color $border

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle&
    color $color
    background-color darken($background, 10%)
    border-color darken($border, 12%)

  &:active,
  &.active,
  .open > .dropdown-toggle&
    background-image none

  &.disabled,
  &[disabled],
  fieldset[disabled] &
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active
      background-color $background
      border-color $border

  .badge
    color $background
    background-color $color

// Button sizes
button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius)
  padding $padding-vertical $padding-horizontal
  font-size $font-size
  line-height $line-height
  border-radius $border-radius


//
app-opacity-hover($value)
  opacity $value
  &:hover
    opacity 1

app-center-position-horiz($width)
  position absolute
  left 50%
  width $width
  margin-left ($width / -2)

app-center-position-vert($height)
  position absolute
  top 50%
  height $height
  margin-top ($height / -2)

app-center-position($width, $height)
  app-center-position-horiz $width
  app-center-position-vert $height

app-position-absolute($marginVert, $marginHoriz)
  position absolute
  top $marginVert
  right $marginHoriz
  bottom @top
  left @right

app-ellipsis($overflow)
  overflow $overflow
  text-overflow ellipsis
  white-space nowrap

app-arrow-top($width, $height, $color)
  border-top none
  border-bottom $height solid $color
  border-right ($width / 2) solid transparent
  border-left @border-right

app-arrow-right($width, $height, $color)
  border-top ($height / 2) solid transparent
  border-right none
  border-bottom @border-right
  border-left $width solid $color

app-arrow-bottom($width, $height, $color)
  border-top $height solid $color
  border-right ($width / 2) solid transparent
  border-bottom none
  border-left @border-right

app-arrow-left($width, $height, $color)
  border-top ($height / 2) solid transparent
  border-right $width solid $color
  border-bottom @border-right
  border-left none

app-clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both