//bootstrap
$brand-primary ?=       darken(#428bca, 6.5%)
$link-color    ?=       $brand-primary

//
$red    = #ec1f27
$gray   = #aaa
$black  = #333333
$yellow = #fff200
$blue   = #428bca
$green  = #5cb85c


$btn-common-color  ?= #fff
$btn-common-bg     ?= #afafaf
$btn-common-border ?= #a3a3a3

$btn-red-color     ?= #fff
$btn-red-bg        ?= $red
$btn-red-border    ?= #d00

$state-common-bg   ?= #f0f0f0

$state-red-bg      ?= #f33

$containerWidth    = 960px