.panel-red
  background-color $red
  color #fff
  padding 5px 10px

.panel-body
  position relative
  padding-left 25px
  padding-right @padding-left

  &_withLinks
    padding-left 30px
    padding-right @padding-left

.panel-link
  &_prev
  &_next
    display block
    position absolute
    height 100%
    top 0
    width 20px
    background rgba(#ccc, .1)
    transition background .3s
    color $red

    &:hover
      background rgba(#ccc, .2)
      color $red

  &_prev
    left 0

  &_next
    right 0

  &-ico
    app-position-absolute 0 0
    margin auto
    width 20px
    height 20px
    text-align center

.text
  &-red
    color $red

.datepicker.dropdown-menu
  width 250px
  height 270px
  button
    outline none
    border 0px

  .btn-default
    color #000

  .btn[disabled]
    opacity 0.3

  tbody
    height 180px

  tbody button
    padding 6px

  &.datepicker-mode-1
  &.datepicker-mode-2
    tbody button
      height 65px

/*
 * Timepicker element (bootstrap-additions)
 */

.timepicker.dropdown-menu
  padding 0 4px
  button
    outline none
    border 0px

  tbody button
    padding 6px

.invalid {
  border-color #ec1f27
}

  //http://bootsnipp.com/snippets/featured/animation-loading-state

@keyframes progress-bar-stripes
  from
    background-position 0 0
  to
    background-position 40px 0

.loading
.loading:active
.loading > td
.loading > th
.nav li.loading.active > a
.pagination li.loading
.pagination>li.active.loading > a
.pager>li.loading > a
   background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0))
   background-size: 40px 40px;
   animation: 2s linear 0s normal none infinite progress-bar-stripes

.btn.btn-default.loading
input[type="text"].loading
select.loading
textarea.loading
.well.loading
.list-group-item.loading
.pagination > li.active.loading > a
.pager > li.loading > a
  background-image: linear-gradient(-45deg, rgba(235, 235, 235, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(235, 235, 235, 0.15) 50%, rgba(235, 235, 235, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0))

.control-label.control-label_multiline
  padding-top 0
  line-height 1.1

