.form-control
  &_topLabel
    position absolute
    margin-top -22px
    font-weight normal
    font-style italic
    white-space nowrap
    font-size 14px


  &_bottomLabel
    position absolute
    bottom -27px
    font-weight normal
    font-style italic
    white-space nowrap


  &_smallLabel
    font-size 12px
    white-space nowrap

.btn-common
  button-variant($btn-common-color, $btn-common-bg, $btn-common-border)

.btn-red
  button-variant($btn-red-color, $btn-red-bg, $btn-red-border)

.label-yellow
  background $yellow
  color #000000