.container
	width $containerWidth

@media (min-width: 768px) {
  .container {
    width $containerWidth
  }
}
@media (min-width: 992px) {
  .container {
    width $containerWidth
  }
}
@media (min-width: 1200px) {
  .container {
    width $containerWidth
  }
}
